Downloads
Music
Pictures
Videos
Projects
Public
Templates
.gitconfig
.bash_history
.bash_logout
.cache
.config
.face
.face.icon 
.gnome
.gnupg
.gtkrc-2.0
.ipython
.kde
.lesshst
.local
.mozilla
.pki
.python_history
.ssh
.Xauthority
.xsession-errors
.sudo_as_admin_successful
.profile
.vim/autoload/plug.vim
.vim/plugged/
